{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SystemUser list</h1>

<form action="{{ path('systemuser') }}" novalidate method="post" {{ form_enctype(form) }} name="systemuser_list">
    {{ pdp_pager_hidden_render(pager) }}
    <table class="records_list">
        <thead>
            <tr>
                {{ pdp_pager_column_render(pager) }}
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('systemuser_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.email }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('systemuser_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('systemuser_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pdp_pager_selector_render(pager) }}
    {{ pdp_pager_pagesize_render(pager) }}
</form>

        <ul>
        <li>
            <a href="{{ path('systemuser_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
