{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{{ "{% form_theme form 'pingdecopongFormFreezeBundle:Form:form_layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
    <h1>{{ entity }} edit</h1>

    <form action="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}" method="post" {{ "{{ form_enctype(form) }}" }} name="{{ route_name_prefix }}_edit_form">
        {{ "{{ form_widget(form) }}" }}
        <p>
            {{ "{% if mode == 'input' %}" }}
                <button onclick="postConfirm()">確認</button>
            {{ "{% elseif mode == 'confirm' %}" }}
                <button onclick="postBack()">戻る</button>
                <button onclick="postSubmit()">登録</button>
            {{ "{% endif %}" }}
        </p>
        <input id="_button_action" type="hidden" value="" name="_button_action">
    </form>

    {% set hide_edit, hide_delete = true, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}

{{ "{% block javascripts %}" }}
    <script type="text/javascript">
        //<![CDATA[
        function postConfirm(){
            document.{{ route_name_prefix }}_edit_form._button_action.value = "confirm";
            document.{{ route_name_prefix }}_edit_form.submit();
        }
        function postSubmit(){
            document.{{ route_name_prefix }}_edit_form._button_action.value = "submit";
            document.{{ route_name_prefix }}_edit_form.submit();
        }
        function postBack(){
            document.{{ route_name_prefix }}_edit_form._button_action.value = "";
            document.{{ route_name_prefix }}_edit_form.submit();
        }
        //]]>
    </script>
{{ "{% endblock %}" }}
{% endblock body %}
