{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TBDepartment list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Name2</th>
                <th>Sortno</th>
                <th>Deleteflug</th>
                <th>Createddatetime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tbdepartment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.Name }}</td>
                <td>{{ entity.Name2 }}</td>
                <td>{{ entity.SortNo }}</td>
                <td>{{ entity.DeleteFlug }}</td>
                <td>{% if entity.CreatedDatetime %}{{ entity.CreatedDatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tbdepartment_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tbdepartment_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tbdepartment_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
